.dark-mode {
  color: #fff;
  background: $dark_mode_bg;

  header {
    .leftCon {
      .toggleMenu {
        .toggleCon {
          .dark-mode__toggle {
            background: $primary_color;
            border: 0.15em solid $primary_color;

            .toggle {
              background: #fff;
            }

            .toggled {
              top: 2px;
              left: 18px;

              @media screen and ($iPadPro) {
                left: 17px;
              }
            }
          }
        }
      }

      svg {
        fill: #fff;
      }
    }

    nav {
      a {
        color: #fff;

        @media screen and ($iPadPro) {
          color: initial;
        }
      }
    }
  }

  .homeCon {
    ul {
      @include dark-mode-social-ul;
    }
  }

  .pLCon {
    .emptyDivs {
      background: #fff;
    }
  }

  .aboutCon {
    .leftCon {
      @media screen and ($iPadPro) {
        border: none;
      }
    }
    .rightCon {
      svg {
        &.express {
          fill: #fff;
        }
      }
      @media screen and ($iPadPro) {
        border: none;
      }
    }
  }

  .projectCard {
    .cardHead {
      background: rgba(235, 51, 73, 0.7);
      color: #fff;

      .rightHead {
        .projectLinks {
          ul {
            a {
              &:first-child {
                border-bottom: 0.15em solid $primary_color;
              }

              li {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .cardBodyCon {
      .projectLinks {
        ul {
          a {
            &:first-child {
              border-bottom: 0.15em solid $primary_color;
            }

            li {
              color: #fff;
            }
          }
        }
      }
      .cardBody {
        border: none;
        .leftCon {
          .projectIcons {
            svg.express {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .socialLinkCon {
    ul {
      @include dark-mode-social-ul;
    }
  }
}
