.dark-mode {
  color: #fff;
  background: $dark_mode_bg;

  header {
    .leftCon {
      .toggleMenu {
        .toggleCon {
          .dark-mode__toggle {
            background: $primary_color;
            border: 0.15em solid $primary_color;

            .toggle {
              background: #fff;
            }

            .toggled {
              top: 2px;
              left: 18px;

              @media ($iPad) {
                left: 16px;
              }
            }
          }
        }
      }
    }

    .rightCon {
      nav {
        a {
          color: #fff;
        }
      }
    }
  }

  .homeCon {
    ul {
      @include dark-mode-social-ul;
    }
  }

  .pLCon {
    .emptyDivs {
      background: #fff;
    }
  }

  .aboutCon {
    .leftCon {
      @media ($iPad) {
        border: none;
      }
    }
    .rightCon {
      @media ($iPad) {
        border: none;
      }
    }
  }

  .projectCard {
    border: 1px solid #fff;

    .contentCon {
      .cardHead {
        ul {
          a {
            li {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .socialLinkCon {
    ul {
      @include dark-mode-social-ul;
    }
  }
}
