.dark-mode {
  color: $white;
  background: $dark_mode_bg;
  font-family: $primary_font;
  font-weight: 300;

  header {
    .leftCon {
      .toggleMenu {
        .toggleCon {
          .dark-mode__toggle {
            background: $primary_color;
            border: 0.15em solid $primary_color;

            .toggle {
              background: $white;
            }

            .toggled {
              top: 0.15em;
              left: 1.4em;

              @media screen and ($iPadPro) {
                left: 17px;
              }
            }
          }
        }
      }

      svg {
        fill: $white;
      }
    }
  }

  .home {
    color: $white;
    ul {
      @include dark-mode-social-ul;
    }
  }

  .socialLinkCon {
    ul {
      @include dark-mode-social-ul;
    }
  }

  footer {
    color: $white;
  }
}
