@mixin anchor_reset {
  color: rgb(58, 58, 58);
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
  font-family: "PT Sans", "sans-serif";

  li {
    display: inline;
  }
}

@mixin social-ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 2.8em;
  margin-bottom: 0;

  a {
    @include anchor_reset;
    margin-right: 1.2em;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgb(58, 58, 58);

    &:hover {
      color: $primary_color;
      border-bottom: 1px solid $primary_color;
    }
  }
}

@mixin dark-mode-social-ul {
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}
