.projectLinks {
  ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;

    a {
      @include anchor_reset;
      font-size: 0.9rem;

      @media screen and ($iPadPro) {
        font-size: 0.9rem;
      }

      &:first-child {
        border-bottom: 0.15em solid $primary_color;
      }

      &:nth-child(2) {
        margin-left: 1.5em;
        border-bottom: 0.15em solid $custom_link_color;
      }
    }

    a[href$="evansibok.github.io"] {
      @media screen and ($iPhoneXSMax) {
        margin-left: 0;
      }
    }
  }

  &.bigScreen {
    @media screen and ($iPhoneXSMax) {
      display: none;
    }
  }

  &.smallScreen {
    display: none;

    @media screen and ($iPhoneXSMax) {
      display: unset;
    }

    ul {
      padding: 1em 0 0 1em;
      border-left: 1px solid rgb(206, 206, 206);
      border-right: 1px solid rgb(206, 206, 206);
    }
  }
}
