$primary_color: #0DC679;
$secondary_color: #031553;
$white: #fff;

$primary_font: "Nunito", sans-serif;
$secondary_font: "Dosis", sans-serif;
$social_link_font: "PT Sans", sans-serif;

$dark_mode_bg: $secondary_color;
$dark_mode_dashed: 2px dashed $white;

$iPhoneXSMax: "max-width: 428px";
$galaxyS5: "max-width: 390px";
$iPadPro: "max-width: 1024px";
$iPad: "max-width: 800px";

$mobile-nav-bg: $white;
