$primary_color: #eb3349;
$primary_font: "Nunito", sans-serif;
$secondary_font: "Dosis", sans-serif;
$social_link_font: "PT Sans", sans-serif;
$custom_link_color: #0955db;
$about_dashed: 2px dashed #222;

$dark_mode_bg: rgb(0, 0, 34);
$dark_mode_dashed: 2px dashed #fff;

$pixel2: "max-width: 411px";
$tablet: "max-width: 800px";
