.aboutCon {
  display: flex;
  justify-content: space-between;

  .leftCon {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 3em;
    border: 2px dashed #222;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .rightCon {
    width: 400px;
    padding: 3em;
    border: 2px dashed #222;
  }
}
