.aboutCon {
  display: flex;
  justify-content: space-between;
  font-family: $primary_font;
  margin-top: 1em;

  @media ($iPad) {
    flex-direction: column;
  }

  @media ($iPhoneXSMax) {
    flex-direction: column;
    margin-top: 0;
  }

  .leftCon {
    width: 520px;
    display: flex;
    flex-direction: column;
    /**
    * Check for repeat code when the about page is completed
    */

    @media ($iPad) {
      width: 560px;
    }

    @media ($iPhoneXSMax) {
      width: 300px;
      margin-bottom: 1em;
      padding: 0;
      border: none;
    }

    p {
      font-size: 0.95rem;

      &:first-child {
        margin-bottom: 1.2em;

        @media ($iPad) {
          margin-bottom: 1em;
        }
      }

      &:last-child {
        margin-bottom: 0;
        @media ($iPad) {
          margin-bottom: 1.6em;
        }
        @media ($iPhoneXSMax) {
          margin-bottom: 1em;
        }
      }
    }
  }

  .rightCon {
    width: 320px;

    @media ($iPhoneXSMax) {
      width: 300px;
      padding: 0;
      border: none;
    }

    svg {
      width: 1.8rem;
      margin-right: 1.5em;
      margin-bottom: 2em;

      @media ($iPad) {
        width: 1.5rem;
        margin-right: 1.2em;
        margin-bottom: 1em;
      }

      @media ($iPhoneXSMax) {
        margin-right: 1em;
      }
    }

    img {
      width: 1.8rem;
      margin-bottom: 2em;
      margin-right: 1.5em;

      @media ($iPad) {
        width: 1.5rem;
        margin-right: 1.2em;
        margin-bottom: 1em;
      }

      @media ($iPhoneXSMax) {
        margin-right: 1em;
      }
    }

    .fig {
      width: 1rem;
    }
  }
}
