.aboutCon {
  display: flex;
  justify-content: space-between;
  font-family: $primary_font;

  @media ($mobile) {
    flex-direction: column;
  }

  .leftCon {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 2.6em;
    border: $about_dashed;
    /**
    * Check for repeat code when the about page is completed
    */

    @media ($tablet) {
      width: 400px;
      padding: 1.5em;
    }

    @media ($mobile) {
      width: 300px;
      margin-bottom: 1em;
      padding: 0;
      border: none;
    }

    p {
      font-size: 0.9rem;

      &:first-child {
        margin-bottom: 1.2em;

        @media ($tablet) {
          margin-bottom: 1em;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .rightCon {
    width: 400px;
    padding: 2.6em;
    border: $about_dashed;

    @media ($tablet) {
      width: 300px;
    }
  }
}
