footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: $secondary-color;

  p {
    font-family: $primary_font;
    letter-spacing: 0.15em;
    margin: 0;
    padding: 1.5em;

    @media screen and ($iPhoneXSMax) {
      letter-spacing: 0.1em;
      padding: 3em 0 2em 0;
    }

    .footCol {
      a {
        font-family: "Kodchasan", "sans-serif";
        color: $primary_color;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 0;
      }
    }
  }
}