header {
  display: flex;
  padding: 3em 0;
  font-size: 0.9rem;
  justify-content: flex-end;
  z-index: 1;

  @media screen and ($iPadPro) {
    flex-direction: column;
    border-bottom: none;
  }

  .leftCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    @media screen and ($iPadPro) {
      margin-bottom: 2em;
    }

    .brandLogoCon {
      max-width: 100%;

      img {
        width: 100px;
        margin-bottom: 0;

        @media screen and ($iPadPro) {
          margin-top: 0.4em;
        }
      }
    }

    .toggleMenu {
      display: flex;
      align-items: center;
      .toggleCon {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dark-mode__toggle {
          background: none;
          border: 0.15em solid #222;
          border-radius: 50px;
          height: 27px;
          position: relative;
          width: 45px;

          @media screen and ($iPadPro) {
            height: 24px;
            width: 40px;
          }

          .toggle {
            background: #222;
            border-radius: 50px;
            height: 19px;
            top: 2px;
            left: 3px;
            position: absolute;
            transition: 0.4s;
            width: 19px;

            @media screen and ($iPadPro) {
              height: 16px;
              width: 16px;
            }
          }
        }
      }

      svg {
        display: none;

        @media screen and ($iPadPro) {
          display: unset;
          margin-left: 2em;
        }
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    font-family: $social_link_font;
    font-weight: 500;

    @media screen and ($iPadPro) {
      font-size: 1.2rem;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      width: 60vw;
      height: 100vh;
      top: 0;
      right: 0;
      background: rgb(236, 236, 236);
      display: none;
      z-index: 1;
      -webkit-box-shadow: -1px 0px 10px 2px rgba(219, 219, 219, 1);
      -moz-box-shadow: -1px 0px 10px 2px rgba(219, 219, 219, 1);
      box-shadow: -1px 0px 10px 2px rgba(219, 219, 219, 1);
    }

    svg {
      display: none;
      @media screen and ($iPadPro) {
        display: unset;
        align-self: flex-start;
        margin: 2.5em 0 0 2.5em;
        fill: #cf2d40;
        width: 4%;
        height: auto;
      }

      @media screen and ($iPad) {
        margin: 2.5em 0 0 2em;
      }

      @media screen and ($iPhoneXSMax) {
        margin-top: 2.6em;
        margin-left: 1.5em;
        width: 8%;
      }
    }

    a {
      text-align: right;
      color: hsla(0, 0%, 0%, 0.8);
      text-decoration: none;
      letter-spacing: 0.08em;
      padding-bottom: 0.2em;
      margin-left: 2em;

      @media screen and ($iPadPro) {
        width: 100%;
        margin-top: 3em;
        margin-left: 0;
        align-self: center;
        color: #fff;
        padding: 1em 3em 1em 0;
        background-color: #db2f43;
      }

      @media screen and ($iPhoneXSMax) {
        padding-right: 1.5em;
        font-size: 1rem;
      }

      &:nth-of-type(2) {
        @media screen and ($iPadPro) {
          margin-top: 1em;
        }
      }

      &:hover {
        border-bottom: 0.15em solid $primary_color;
        padding-bottom: 0.15em;

        @media screen and ($iPadPro) {
          border-bottom: none;
        }
      }
    }
  }
}
