.homeCon {
  display: flex;
  flex-direction: column;

  .h1HomeCon {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 2em;
    margin-bottom: 0;
    font-family: 'Dosis', 'sans-serif';
    letter-spacing: 0.08em;

    .letCol {
      color: $primary_color;
    }
  }

  .h4HomeCon {
    font-size: 2.7rem;
    max-width: 720px;
    line-height: 1.3em;
    margin-top: 1em;
    margin-bottom: 0;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 800;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 2.8em;
    margin-bottom: 0;

    a {
      margin-right: 1em;
      color: #222;
      letter-spacing: 0.1em;
      font-size: 0.9rem;
      text-decoration: none;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 1px solid #222;
      font-family: "PT Sans", "sans-serif";

      &:hover {
        color: $primary_color;
        border-bottom: 1px solid $primary_color;
        transform: scale(1.1);
      }

      li {
        display: inline;
      }
    }
  }
}
