.homeCon {
  display: flex;
  flex-direction: column;

  .h1HomeCon {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 1.8em;
    margin-bottom: 0;
    font-family: $primary_font;
    letter-spacing: 0.07em;

    @media ($tablet) {
      font-size: 2rem;
      margin-top: 1.3em;
    }

    @media ($iPhoneXSMax) {
      margin-top: 1em;
      font-size: 1.7rem;
    }

    .letCol {
      color: $primary_color;
    }
  }

  .h4HomeCon {
    font-size: 2.8rem;
    max-width: 830px;
    line-height: 1.3em;
    margin-top: 1em;
    margin-bottom: 0;
    font-family: $primary_font;
    font-weight: 700;
    letter-spacing: 0.01em;

    @media ($tablet) {
      font-size: 2.1rem;
      width: 550px;
      margin-top: 0.8em;
      font-weight: 600;
    }

    @media ($iPhoneXSMax) {
      width: 300px;
      font-size: 1.8rem;
      line-height: 1.5em;
      margin-top: 0.4em;
    }
  }

  ul {
    @include social-ul;

    @media ($tablet) {
      margin-top: 2em;
    }

    a {
      font-size: 0.9rem;

      @media ($tablet) {
        font-size: 0.8rem;
      }
    }
  }
}
