.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media ($tablet) {
    max-width: 720px;
  }

  @media ($mobile) {
    max-width: 400px;
  }
}

.content {
  flex-grow: 1;
}
