.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media ($tablet) {
    max-width: 720px;
  }

  @media ($pixel2) {
    max-width: 320px;
  }

  @media ($galaxyS5) {
    max-width: 300px;
  }
}

.content {
  flex-grow: 1;
}
