.container {
  margin: 0 auto;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media screen and ($iPadPro) {
    max-width: 720px;
  }

  @media screen and ($iPad) {
    max-width: 600px;
  }

  @media screen and ($iPhoneXSMax) {
    max-width: 320px;
  }

  @media screen and ($galaxyS5) {
    max-width: 300px;
  }
}

.content {
  flex-grow: 1;
}
