.projectCard {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 1em;
  font-family: $primary_font;
  margin-bottom: 0.3em;

  .contentCon {
    margin: 1.5em 2em;

    @media ($mobile) {
      margin: 1.4em;
    }

    .cardHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.2em;

      @media ($tablet) {
        margin-bottom: 0.9em;
      }

      @media ($mobile) {
        flex-direction: column;
        align-items: flex-start;
      }

      h4 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: $secondary_font;
        font-weight: 800;
        letter-spacing: 0.1em;
        font-size: 1.1rem;

        @media ($tablet) {
          font-weight: 700;
          font-size: 0.9rem;
        }

        @media ($mobile) {
          margin-bottom: 0.8em;
        }
      }

      ul {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;

        a {
          @include anchor_reset;
          font-size: 0.9rem;

          @media ($tablet) {
            font-size: 0.8rem;
          }

          &:first-child {
            border-bottom: 0.15em solid $primary_color;
          }

          &:last-child {
            margin-left: 1.5em;
            border-bottom: 0.15em solid $custom_link_color;
          }
        }
      }
    }

    .cardBody {
      display: flex;
      justify-content: space-between;

      @media ($mobile) {
        flex-direction: column-reverse;
      }

      .leftCon {
        width: 600px;

        @media ($tablet) {
          width: 350px;
        }

        @media ($mobile) {
          width: 260px;
        }

        p {
          font-size: 0.9rem;
          margin-bottom: 1em;

          @media ($tablet) {
            font-size: 0.8rem;
            margin-bottom: 0.4em;
          }
        }
        .projectIcons {
          display: flex;
          align-items: center;
          svg {
            margin-right: 0.8em;
            width: 1.5rem;

            @media ($tablet) {
              margin-right: 0.6em;
              width: 1.2rem;
            }
          }
        }
      }

      .imageCon {
        width: 320px;
        margin-bottom: 0;

        @media ($tablet) {
          width: 260px;
        }

        @media ($mobile) {
          width: 260px;
          margin-bottom: 0.7em;
        }

        img {
          border-radius: 0.8em;
          margin-bottom: 0;

          @media ($tablet) {
            border-radius: 0.6em;
          }
        }
      }
    }
  }
}
