


body {
  color: rgb(56, 55, 55);
}

header {
  background: #fff;

  .headerContentContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.08rem solid rgb(180, 180, 180);

    button {
      background: rgb(211, 28, 28);
      border: none;
      color: #fff;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}
