.container {
  margin: 0 auto;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    max-width: 600px;
  }
}
@media screen and (max-width: 414px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 300px;
  }
}

.content {
  flex-grow: 1;
}

header {
  display: flex;
  padding: 3em 0;
  font-size: 0.9rem;
  justify-content: flex-end;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    border-bottom: none;
  }
}
header .leftCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media screen and (max-width: 1024px) {
  header .leftCon {
    margin-bottom: 2em;
  }
}
header .leftCon .brandLogoCon {
  max-width: 100%;
}
header .leftCon .brandLogoCon img {
  width: 100px;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  header .leftCon .brandLogoCon img {
    margin-top: 0.4em;
  }
}
header .leftCon .toggleMenu {
  display: flex;
  align-items: center;
}
header .leftCon .toggleMenu .toggleCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .leftCon .toggleMenu .toggleCon .dark-mode__toggle {
  background: none;
  border: 0.15em solid #222;
  border-radius: 50px;
  height: 27px;
  position: relative;
  width: 45px;
}
@media screen and (max-width: 1024px) {
  header .leftCon .toggleMenu .toggleCon .dark-mode__toggle {
    height: 24px;
    width: 40px;
  }
}
header .leftCon .toggleMenu .toggleCon .dark-mode__toggle .toggle {
  background: #222;
  border-radius: 50px;
  height: 19px;
  top: 2px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 19px;
}
@media screen and (max-width: 1024px) {
  header .leftCon .toggleMenu .toggleCon .dark-mode__toggle .toggle {
    height: 16px;
    width: 16px;
  }
}
header .leftCon .toggleMenu svg {
  display: none;
}
@media screen and (max-width: 1024px) {
  header .leftCon .toggleMenu svg {
    display: unset;
    margin-left: 2em;
  }
}
header nav {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  header nav {
    font-size: 1.2rem;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 60vw;
    height: 100vh;
    top: 0;
    right: 0;
    background: #ececec;
    display: none;
    z-index: 1;
    -webkit-box-shadow: -1px 0px 10px 2px #dbdbdb;
    -moz-box-shadow: -1px 0px 10px 2px #dbdbdb;
    box-shadow: -1px 0px 10px 2px #dbdbdb;
  }
}
header nav svg {
  display: none;
}
@media screen and (max-width: 1024px) {
  header nav svg {
    display: unset;
    align-self: flex-start;
    margin: 2.5em 0 0 2.5em;
    fill: #cf2d40;
    width: 4%;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  header nav svg {
    margin: 2.5em 0 0 2em;
  }
}
@media screen and (max-width: 414px) {
  header nav svg {
    margin-top: 2.6em;
    margin-left: 1.5em;
    width: 8%;
  }
}
header nav a {
  text-align: right;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  letter-spacing: 0.08em;
  padding-bottom: 0.2em;
  margin-left: 2em;
}
@media screen and (max-width: 1024px) {
  header nav a {
    width: 100%;
    margin-top: 3em;
    margin-left: 0;
    align-self: center;
    color: #fff;
    padding: 1em 3em 1em 0;
    background-color: #db2f43;
  }
}
@media screen and (max-width: 414px) {
  header nav a {
    padding-right: 1.5em;
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  header nav a:nth-of-type(2) {
    margin-top: 1em;
  }
}
header nav a:hover {
  border-bottom: 0.15em solid #eb3349;
  padding-bottom: 0.15em;
}
@media screen and (max-width: 1024px) {
  header nav a:hover {
    border-bottom: none;
  }
}

.dark-mode {
  color: #fff;
  background: #000022;
}
.dark-mode header .leftCon .toggleMenu .toggleCon .dark-mode__toggle {
  background: #eb3349;
  border: 0.15em solid #eb3349;
}
.dark-mode header .leftCon .toggleMenu .toggleCon .dark-mode__toggle .toggle {
  background: #fff;
}
.dark-mode header .leftCon .toggleMenu .toggleCon .dark-mode__toggle .toggled {
  top: 2px;
  left: 18px;
}
@media screen and (max-width: 1024px) {
  .dark-mode header .leftCon .toggleMenu .toggleCon .dark-mode__toggle .toggled {
    left: 17px;
  }
}
.dark-mode header .leftCon svg {
  fill: #fff;
}
@media screen and (max-width: 1024px) {
  .dark-mode header nav {
    background: #eb3349;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}
.dark-mode header nav svg {
  fill: #fff;
}
.dark-mode header nav a {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .dark-mode header nav a {
    background-color: #c22c3d;
  }
}
@media screen and (max-width: 414px) {
  .dark-mode header nav a {
    background-color: #c22c3d;
  }
}
.dark-mode .homeCon ul a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.dark-mode .pLCon .emptyDivs {
  background: #fff;
}
@media screen and (max-width: 1024px) {
  .dark-mode .aboutCon .leftCon {
    border: none;
  }
}
.dark-mode .aboutCon .rightCon svg.express {
  fill: #fff;
}
@media screen and (max-width: 1024px) {
  .dark-mode .aboutCon .rightCon {
    border: none;
  }
}
.dark-mode .projectCard .cardHead {
  background: rgba(235, 51, 73, 0.7);
  color: #fff;
}
.dark-mode .projectCard .cardHead .rightHead .projectLinks ul a:first-child {
  border-bottom: 0.15em solid #eb3349;
}
.dark-mode .projectCard .cardHead .rightHead .projectLinks ul a li {
  color: #fff;
}
.dark-mode .projectCard .cardBodyCon .projectLinks ul a:first-child {
  border-bottom: 0.15em solid #eb3349;
}
.dark-mode .projectCard .cardBodyCon .projectLinks ul a li {
  color: #fff;
}
.dark-mode .projectCard .cardBodyCon .projectLinks.smallScreen ul {
  border: none;
}
.dark-mode .projectCard .cardBodyCon .cardBody {
  border: none;
}
.dark-mode .projectCard .cardBodyCon .cardBody .leftCon .projectIcons svg.express {
  fill: #fff;
}
.dark-mode .socialLinkCon ul a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.homeCon {
  display: flex;
  flex-direction: column;
}
.homeCon .h1HomeCon {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.07em;
}
@media screen and (max-width: 1024px) {
  .homeCon .h1HomeCon {
    font-size: 1.8rem;
    margin-top: 1.3em;
  }
}
@media screen and (max-width: 414px) {
  .homeCon .h1HomeCon {
    margin-top: 0;
    font-size: 1.9rem;
  }
}
.homeCon .h1HomeCon p {
  margin-bottom: 0;
}
.homeCon .h1HomeCon p:first-child {
  margin-bottom: 0.5em;
}
@media screen and (max-width: 1024px) {
  .homeCon .h1HomeCon p:first-child {
    margin-bottom: 0.3em;
  }
}
@media screen and (max-width: 414px) {
  .homeCon .h1HomeCon p:first-child {
    margin-bottom: 0.5em;
  }
}
.homeCon .h1HomeCon p:last-child {
  margin-bottom: 1em;
}
@media screen and (max-width: 1024px) {
  .homeCon .h1HomeCon p:last-child {
    margin-bottom: 0.8em;
  }
}
.homeCon .h1HomeCon .letCol {
  color: #eb3349;
}
.homeCon .h4HomeCon {
  font-size: 2.4rem;
  max-width: 750px;
  line-height: 1.3em;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 1024px) {
  .homeCon .h4HomeCon {
    font-size: 2.1rem;
    width: 550px;
    font-weight: 600;
  }
}
@media screen and (max-width: 414px) {
  .homeCon .h4HomeCon {
    width: 290px;
    font-size: 1.7rem;
    line-height: 1.6em;
    margin-top: 0.4em;
  }
}
@media screen and (max-width: 360px) {
  .homeCon .h4HomeCon {
    width: 270px;
    font-size: 1.6rem;
  }
}
.homeCon ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 2.8em;
  margin-bottom: 0;
  margin-top: 2em;
}
.homeCon ul a {
  color: #3a3a3a;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
  font-family: "PT Sans", "sans-serif";
  margin-right: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #3a3a3a;
}
.homeCon ul a li {
  display: inline;
}
.homeCon ul a:hover {
  color: #eb3349;
  border-bottom: 1px solid #eb3349;
}
@media screen and (max-width: 1024px) {
  .homeCon ul {
    margin-top: 2em;
  }
}
.homeCon ul a {
  font-size: 0.9rem;
}
@media screen and (max-width: 1024px) {
  .homeCon ul a {
    font-size: 0.8rem;
  }
}

.pLCon {
  display: flex;
  align-items: center;
  padding: 1.2em 0 2em 0;
  font-family: "Nunito", sans-serif;
}
@media screen and (max-width: 1024px) {
  .pLCon {
    padding: 1em 0 1.5em 0;
  }
}
@media screen and (max-width: 414px) {
  .pLCon {
    padding-top: 0;
  }
}
.pLCon .emptyDivs {
  background: black;
  width: 35px;
  height: 4px;
}
@media screen and (max-width: 1024px) {
  .pLCon .emptyDivs {
    width: 28px;
    height: 3px;
  }
}
.pLCon p {
  margin: 0 0.6em;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1024px) {
  .pLCon p {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.socialLinkCon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialLinkCon ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 2.8em;
  margin-bottom: 0;
}
.socialLinkCon ul a {
  color: #3a3a3a;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
  font-family: "PT Sans", "sans-serif";
  margin-right: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #3a3a3a;
}
.socialLinkCon ul a li {
  display: inline;
}
.socialLinkCon ul a:hover {
  color: #eb3349;
  border-bottom: 1px solid #eb3349;
}
.socialLinkCon ul a {
  font-size: 0.7rem;
}

.aboutCon {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  margin-top: 1em;
}
@media screen and (max-width: 1024px) {
  .aboutCon {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 414px) {
  .aboutCon {
    flex-direction: column-reverse;
    margin-top: 0.8em;
  }
}
.aboutCon .leftCon {
  width: 520px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .aboutCon .leftCon {
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .aboutCon .leftCon {
    margin-bottom: 1em;
    padding: 0;
    border: none;
  }
}
@media screen and (max-width: 360px) {
  .aboutCon .leftCon {
    width: 280px;
  }
}
.aboutCon .leftCon p {
  font-size: 1rem;
  margin-bottom: 1.2em;
}
@media screen and (max-width: 1024px) {
  .aboutCon .leftCon p {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 414px) {
  .aboutCon .leftCon p {
    font-size: 1.05rem;
  }
}
.aboutCon .leftCon p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .aboutCon .leftCon p:last-child {
    margin-bottom: 1.6em;
  }
}
@media screen and (max-width: 414px) {
  .aboutCon .leftCon p:last-child {
    margin-bottom: 1em;
  }
}
.aboutCon .leftCon .skills p {
  font-size: 0.95rem;
}
.aboutCon .leftCon .skills ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
}
.aboutCon .leftCon .skills ul li {
  margin-right: 1em;
  padding: 0.3em 1em;
  border: 1.5px solid springgreen;
  border-radius: 0.6em;
  font-size: 0.6rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.1em;
}
.aboutCon .rightCon {
  width: 350px;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .aboutCon .rightCon {
    width: 100%;
    display: flex;
  }
}
.aboutCon .rightCon img {
  max-width: 100%;
  height: auto;
  margin: 0;
  border: 0.2em dashed rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .aboutCon .rightCon img {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 414px) {
  .aboutCon .rightCon img {
    width: 80%;
  }
}

.projectLinks ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}
.projectLinks ul a {
  color: #3a3a3a;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
  font-family: "PT Sans", "sans-serif";
  font-size: 0.9rem;
}
.projectLinks ul a li {
  display: inline;
}
@media screen and (max-width: 1024px) {
  .projectLinks ul a {
    font-size: 0.9rem;
  }
}
.projectLinks ul a:first-child {
  border-bottom: 0.15em solid #eb3349;
}
.projectLinks ul a:nth-child(2) {
  margin-left: 1.5em;
  border-bottom: 0.15em solid #0955db;
}
@media screen and (max-width: 414px) {
  .projectLinks ul a[href$="evansibok.github.io"] {
    margin-left: 0;
  }
}
@media screen and (max-width: 414px) {
  .projectLinks.bigScreen {
    display: none;
  }
}
.projectLinks.smallScreen {
  display: none;
}
@media screen and (max-width: 414px) {
  .projectLinks.smallScreen {
    display: unset;
  }
}
.projectLinks.smallScreen ul {
  padding: 1em 0 0 1em;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.projectCard {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  margin-bottom: 0.3em;
}
.projectCard .cardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  background: #eee;
  cursor: pointer;
}
@media screen and (max-width: 414px) {
  .projectCard .cardHead {
    flex-direction: row;
    align-items: flex-start;
  }
}
.projectCard .cardHead h4 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
}
@media screen and (max-width: 1024px) {
  .projectCard .cardHead h4 {
    font-weight: 700;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 360px) {
  .projectCard .cardHead h4 {
    font-size: 1rem;
  }
}
.projectCard .cardHead .rightHead {
  display: flex;
  align-items: center;
}
.projectCard .cardHead .rightHead svg {
  margin-left: 1.5em;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.projectCard .cardBodyCon .projectLinks .smallScreen ul {
  display: none;
}
.projectCard .cardBodyCon .cardBody {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em 1em 1em;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
@media screen and (max-width: 414px) {
  .projectCard .cardBodyCon .cardBody {
    flex-direction: column-reverse;
  }
}
.projectCard .cardBodyCon .cardBody .leftCon {
  width: 520px;
}
@media screen and (max-width: 1024px) {
  .projectCard .cardBodyCon .cardBody .leftCon {
    width: 350px;
  }
}
@media screen and (max-width: 414px) {
  .projectCard .cardBodyCon .cardBody .leftCon {
    width: 260px;
  }
}
@media screen and (max-width: 360px) {
  .projectCard .cardBodyCon .cardBody .leftCon {
    width: 250px;
  }
}
.projectCard .cardBodyCon .cardBody .leftCon p {
  font-size: 0.9rem;
  margin-bottom: 1em;
}
@media screen and (max-width: 1024px) {
  .projectCard .cardBodyCon .cardBody .leftCon p {
    margin-bottom: 0.8em;
  }
}
.projectCard .cardBodyCon .cardBody .leftCon .projectIcons {
  display: flex;
  align-items: center;
}
.projectCard .cardBodyCon .cardBody .leftCon .projectIcons svg {
  margin-right: 0.8em;
  width: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .projectCard .cardBodyCon .cardBody .leftCon .projectIcons svg {
    margin-right: 0.6em;
    width: 1.2rem;
  }
}
.projectCard .cardBodyCon .cardBody .leftCon .projectIcons img {
  width: 1.5rem;
  margin-bottom: 0;
  margin-right: 0.8em;
}
@media screen and (max-width: 1024px) {
  .projectCard .cardBodyCon .cardBody .leftCon .projectIcons img {
    width: 1.3rem;
  }
}
.projectCard .cardBodyCon .cardBody .imageCon {
  width: 320px;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .projectCard .cardBodyCon .cardBody .imageCon {
    width: 260px;
  }
}
@media screen and (max-width: 414px) {
  .projectCard .cardBodyCon .cardBody .imageCon {
    width: 270px;
    margin-bottom: 0.7em;
  }
}
@media screen and (max-width: 360px) {
  .projectCard .cardBodyCon .cardBody .imageCon {
    width: 250px;
    margin-bottom: 0.7em;
  }
}
.projectCard .cardBodyCon .cardBody .imageCon img {
  border-radius: 0.8em;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .projectCard .cardBodyCon .cardBody .imageCon img {
    border-radius: 0.6em;
  }
}

footer {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
}
footer p {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.15em;
  margin: 0;
  padding: 1.5em;
}
@media screen and (max-width: 414px) {
  footer p {
    letter-spacing: 0.1em;
    padding: 3em 0 2em 0;
  }
}
footer p .heart {
  font-size: 0.6rem;
  color: #eb3349;
}
footer p .footCol a {
  font-family: "Kodchasan", "sans-serif";
  color: #eb3349;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.03em;
}

/*# sourceMappingURL=app.css.map */
