body {
  background: rgb(56, 55, 55);
  color: white;
}

header {
  background: #fff;

  .headerContentContainer {
    display: flex;
    justify-content: space-between;

    button {
      background: rgb(211, 28, 28);
      border: none;
      color: #fff;
    }
  }
}
